body{
    font-family: sans-serif;
    background-color: rgb(200,200,200);
}
.label{
    background-color: rgb(128,225,225);
    padding: 7px 7px 7px 7px;
    text-align: center;
}
.list{
    background-color: white;
    width: 300px;
    padding: 5px;
    margin: auto;
    left: 50%;
    border-color:rgb(120,120,120);
    border-width: 0px 5px 5px 0px;
    border-style: solid;
}
.done-true {
    color: red;
    text-decoration: line-through;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: x-small;
}
a:hover{
    color: red;
}
